version: "3"
services:
  prisma:
    image: prismagraphql/prisma:1.19.3
    restart: on-failure
    ports:
      - "4466:4466"
    environment:
      PRISMA_CONFIG: |
        port: 4466
        # uncomment the next line and provide the env var PRISMA_MANAGEMENT_API_SECRET=my-secret to activate cluster security
        # managementApiSecret: my-secret
        databases:
          default:
            connector: postgres
            host: host.docker.internal
            database: circadian-backend_development
            port: '5432'
            user: postgres
            password: root
            migrations: true
